.sidePanel{
    height: 100%;
    width: 72px;
    padding-top: 15px;
    position: fixed;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    font-size: 18px;
    box-shadow: 30px 0 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: width 0.3s;
}

.sidePanel button{
    height: 72px;
    border: none;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 4px 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.open{
    width: var(--sidebar-width);
    transition: width 0.3s ease-in-out;
}
.open button{
    height: 66px;
    border-radius: 15px;
    width: 220px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    margin: 4px 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}


@media (max-width:840px) {
    .sidePanel button{
        width: 62px;
        font-size: 15px;
        height: 60px;
        gap: 10px;
    }
    .open button{
        width: 150px;
        font-size: 15px;
        height: 60px;
        gap: 10px;
    }
}