.content{
    margin-top: 57.5px;
    /* width: 100%; */
    background-color: #121212;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(350px, 1fr)
    );

    gap: 50px;

    padding: 30px;
}
.videoCard {
    height: 380px;
  background: #181818;
  border-radius: 12px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-decoration: none;

  color: inherit;
  /* overflow: hidden; */
}

.videoCard :hover{
  text-decoration: none;
  color: inherit;
}

.videoCard image {
  width: 230px;
  object-fit: cover;
}