.content {
  background-color: #121212;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));

  gap: 50px;

  padding: 10px 30px;
}
.videoCard {
  border-radius: 12px;
  background-color: #212121;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  text-decoration: none;

  color: inherit;
  aspect-ratio: 16/10;
}

.videoCard :hover {
  text-decoration: none;
  color: inherit;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 12px;
}
.thumbnail .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  padding: 10px 10px 10px 10px;

  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
