.main {
  /* width: 30vw; */
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.categoryWrapper {
  width: 30vw;
  display: flex;
  align-items: center;
}

.videoCard {
  width: 30vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-radius: 20px;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 12px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  padding-top: 5px;
  font-size: 15px;
  color: #fff;
}

.title p {
  margin: 0;
  color: rgb(255, 255, 255, 0.7);
}
.title .heading {
  font-size: 20px;
  color: #fff;
}
