.category {
  /* position: fixed; */
  height: 70px;
  /* /* top: 70px; */
  /* left: 78px; */
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  right: 0;
  background-color: #121212;
  padding: 0 10px;
  gap: 8px;
  font-size: 15px;
  color: #fff;
  /* border: 1px solid red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.category button {
  height: 38px;
  /* border: 1px solid red; */
  flex-shrink: 0;
  padding: 0 14px;
  border-radius: 13px;
}
.category::-webkit-scrollbar {
  display: none;
}
