.main {
  /* width: 75vw;; */
  height: 100%;
  display: flex;

  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
  flex: 1;
}
.play {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 60vw;
  border-radius: 15px;
  margin-left: 30px;
  background-color: #212121;
  align-items: center;
}
.play .iframe {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 150px; */
  height: 100%;
}
.title {
  padding: 10px 0 10px 10px;

  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.description {
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
}

.description button {
  border-radius: 15px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.nonVideo {
  background-color: #212121;
  padding: 10px;
  /* height: 100%; */
  display: flex;

  color: #fff;
  border-radius: 15px;
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.moreBtn button {
  background: black;
  padding: 0 10px;
  border: none;

  cursor: pointer;
  padding: 0;
  font-size: 14px;
}
